.Rhistory
.vscode/
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
cmake_install.cmake
cmake_uninstall.cmake
config.h
icons/CMakeFiles/
icons/CTestTestfile.cmake
icons/Makefile
icons/cmake_install.cmake
install_manifest.txt
src/CMakeFiles/
src/CTestTestfile.cmake
src/Makefile
src/cmake_install.cmake
src/doc/CMakeFiles/
src/doc/CTestTestfile.cmake
src/doc/Makefile
src/doc/cmake_install.cmake
src/doc/index.html
src/doc/qterm.qch
src/doc/qterm.qhc
src/doc/qterm.qhp
src/keyboard_profiles/CMakeFiles/
src/keyboard_profiles/CTestTestfile.cmake
src/keyboard_profiles/Makefile
src/keyboard_profiles/cmake_install.cmake
src/moc_aboutdialog.cpp
src/moc_addrdialog.cpp
src/moc_articledialog.cpp
src/moc_auth.cpp
src/moc_channel.cpp
src/moc_charpane.cpp
src/moc_chartable.cpp
src/moc_closedialog.cpp
src/moc_dommodel.cpp
src/moc_hostinfo.cpp
src/moc_imagelistviewer.cpp
src/moc_imageviewer.cpp
src/moc_kex.cpp
src/moc_keydialog.cpp
src/moc_msgdialog.cpp
src/moc_osdmessage.cpp
src/moc_overlayWidget.cpp
src/moc_packet.cpp
src/moc_pallete.cpp
src/moc_popupMessage.cpp
src/moc_popwidget.cpp
src/moc_prefdialog.cpp
src/moc_qtermbuffer.cpp
src/moc_qtermcanvas.cpp
src/moc_qtermdecode.cpp
src/moc_qtermframe.cpp
src/moc_qtermglobal.cpp
src/moc_qtermhttp.cpp
src/moc_qtermscreen.cpp
src/moc_qtermsocket.cpp
src/moc_qtermtelnet.cpp
src/moc_qtermtextline.cpp
src/moc_qtermtoolbutton.cpp
src/moc_qtermwindow.cpp
src/moc_qtermwindowbase.cpp
src/moc_qtermzmodem.cpp
src/moc_quickdialog.cpp
src/moc_schemedialog.cpp
src/moc_scripthelper.cpp
src/moc_shortcutsdialog.cpp
src/moc_socket.cpp
src/moc_statusBar.cpp
src/moc_toolbardialog.cpp
src/moc_zmodemdialog.cpp
src/po/CMakeFiles/
src/po/CTestTestfile.cmake
src/po/Makefile
src/po/cmake_install.cmake
src/po/qterm_chs.qm
src/po/qterm_cht.qm
src/qrc_qterm.cpp
src/qterm
src/qterm.qrc.depends
src/qterm_autogen/
src/qterm_automoc.cpp
src/scheme/CMakeFiles/
src/scheme/CTestTestfile.cmake
src/scheme/Makefile
src/scheme/cmake_install.cmake
src/scripts/CMakeFiles/
src/scripts/CTestTestfile.cmake
src/scripts/Makefile
src/scripts/cmake_install.cmake
src/scripts/ui/CMakeFiles/
src/scripts/ui/CTestTestfile.cmake
src/scripts/ui/Makefile
src/scripts/ui/cmake_install.cmake
src/ui_aboutdialog.h
src/ui_addrdialog.h
src/ui_articledialog.h
src/ui_closedialog.h
src/ui_imageviewer.h
src/ui_keydialog.h
src/ui_mainframe.h
src/ui_msgdialog.h
src/ui_pallete.h
src/ui_prefdialog.h
src/ui_quickdialog.h
src/ui_schemedialog.h
src/ui_shortcutsdialog.h
src/ui_soundconf.h
src/ui_sshlogin.h
src/ui_toolbardialog.h
src/ui_zmodemdialog.h
