[Desktop Entry]
Comment= BBS Client
Comment[en_US]= BBS Client
Exec=qterm
GenericName=QTerm
GenericName[en_US]=QTerm
Icon=/usr/local/share/qterm/pic/qterm.png
MimeType=
Name=QTerm
Name[en_US]=QTerm
Path=
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
